body {
  /* margin: 50%;?*/
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header,.mid{
  padding: 0% 151px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
 }

 .d-flex{
  margin-left: 6%;
  margin-right: 4%;
  width: max-content;
  font-family: Arial, FontAwesome;
  align-items: center;
  
 }
 .form-control{
  background-color : #deddddc6; 
  width: 450px;
  border-radius: 8px;
  box-sizing:border-box;
  padding: 10px 25px;
 }
 .container-fluid{
  margin: 0;
  height: 65px;
  font-size: 90%;
  font-weight:bolder;
  /* width: 10000px; */
 }
 
.nav-item{
  width: max-content;
  padding: 0px 5px;
}
.btn{
  background-color:#4ad493;
  color: black;
  font-weight: 700;
  padding: 10px 30px;
  border: none;
  margin-right: 0;
  border-radius: 10px;
}
.navbar{
  /* border: solid; */
  border-bottom: 1px solid #b6b3b3;
}
.highlight{
  border-radius: 20px;
  background-color: #4ad493;
  
}
.high{
  color: black;
  font-weight: 600;
}
.ligh{
  color: rgb(102, 99, 99);
  font-weight: 600;
}


/* Content */
.align{
  margin-left: 2.5%;
  font-size: 110%;
  color: black;
}
.h3{
  margin-top: 15px;
  margin-left: 2.5%;
  font-weight: bolder;
  font-size: 1.5em;
}
.svg{
  height: 25px;
  margin-top: 5px;
  align-items: center;
  
}
.Share{
  padding-right: 0px;
  font-size: 110% ;
  float: right;
  color: black;
  margin-bottom: 20px;
}
.link:hover{
  color: black;
}

/* Image Part */

.grid-container{
margin:2.5%;
display: grid;
grid-template-columns: 71.5% 17.7% 19%;
gap: 2px;
border-radius: 5px;
}
.item1{
  grid-row-start: 1;
  grid-row-end: 5;
  
}
.fimg{
  height:606px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.img{
  height: 150px;
}
.item2,.item10,.item13{
  position: relative;
}
.itemsub{
  position:absolute;
  left: 6px;
  top: 6px;
  opacity: 0.8;
  background-color: rgb(53, 51, 51);
  color: white;
  border-radius: 5px;
  width: 100px;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

.All{
position:absolute;
background-color: rgb(9, 8, 8);
color: white;
height: 100%;
width: 93%;
opacity: 0.8;
text-align: center;
font-weight: 800;
border-bottom-right-radius: 9px;
padding:55px;
font-size: 1em;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
   div.cssbox {
    display: inline-block;
  }
  
  span.cssbox_full {
    z-index: 999999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    transition: opacity 0.2s linear;
  }
  
  span.cssbox_full img {
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
    max-height: 90%;
    max-width: 90%;
    top: 53%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px black;
  }
  
  a.cssbox_close,
  a.cssbox_prev,
  a.cssbox_next {
    z-index: 999999;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
    color: white;
    font-size: 36px;
  }
  
  a.cssbox_close {
    top: 1%;
    right: 1%
  }
  
  a.cssbox_close::after {
    content: '\00d7';
  }
  
  a.cssbox_prev,
  a.cssbox_next {
    top: 50%;
    transform: translate(0%, -50%);
  }
  
  a.cssbox_prev {
    left: 5%;
  }
  
  a.cssbox_next {
    right: 5%;
  }
  
  a:target ~ a.cssbox_close,
  a:target ~ a.cssbox_prev,
  a:target ~ a.cssbox_next {
    visibility: visible;
  }
  
  a:target > img.cssbox_thumb + span.cssbox_full {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }
  .bg-dark{
    background-color: black;
  }
  .hidden{
    display: none;
  }
  .activ{
    color: white;
  }
  .activ:hover{
    color: rgb(197, 177, 177);
  }
  /* This is the end of CSSBox */

  #section{
    background-color: black;
  }
  .grid-container1{
    display: grid;
    margin-left: 70px;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  background-color: black;
  padding: 10px;
  object-fit: cover;
  }
  .rearrange{
    align-items: center;
    text-align: center;
    width: 100%;
    height:150px;
    object-fit: cover;
  }
  @media all and (max-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: block; }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
  }